section#contato{
    height: 100dvh;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    align-content: space-evenly;

    h2{
        grid-column: 1/-1;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    li{
        gap: 15px;
        display: flex;
        align-items: center;
    }
    img{
        width: 50px;
    }

    input,textarea{
        color: white;
        outline: none;
        border: none;
        border-radius: 8px;
        padding-left: 5px;
        font-size: 1em;
        height: 50px;
        background-color: var(--color-background);
    }
    textarea{        
        height: 150px;
        padding-top: 5px;
    }
    button{
        cursor: pointer;
        border: none;
        border-radius: 8px;
        height: 50px;
        font-size: 1em;
        color: white;
        background-color: var(--color-background);
    }
    form{
        display: flex;
        gap: 5px;
        flex-direction: column;
        width: 400px;
        padding: 20px 10px;
        background-image: linear-gradient(to right, var(--color-primary), var(--color-secundary));
        border-radius: 8px;
    }
    @media only screen and (max-width: 950px) and (min-width: 400px) {
        justify-content: space-evenly;
        form{
            width: 300px;
        }
        img{
            width: 30px;
        }
    }
}