@import "animation.scss";


section.email{
    p{
        text-align: center;
    }
    p.name{
        font-size: 1.5em;
        color: $color_secundary;
        @include colorBox(1s);
        &:hover{
            animation-play-state: paused;
        }
    }
    form{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        input[type=submit]{
            background-color: $color_secundary;
            color: $color_content1;
            &:hover{
                background-color: transparent;
                border: 2px solid $color_secundary;
            }
            transition: .5s;
        }
    }
    nav{
        margin: 10px 0px;
        text-align: center;
        svg{
            fill: $color_content1;
            &:hover{
                fill: $color_secundary;
            }
            transition: 1s;
        }
    }
}