header{

    position: sticky;
    z-index: 1;
    top: -1px;
    opacity: .9;
    background-color: var(--color-background);
    padding: 50px;
    
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 1em;
    }
    img{
        display: none;
        width: 24px;
    }
    div{
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        img{
            display: block;
            width: 24px;
        }
    }
    span{
        color: var(--color-primary);
    }
    nav{

        display: flex;
        align-items: center;
        gap: 15px;
        a{
            font-family: var(--font-title);
            display: flex;
            align-items: center;
            gap: 5px;
        }
        a.visible{
            color: var(--color-primary);
        }
    }
    @media only screen and (max-width: 952px) {
        display: grid;
        padding: 25px;
        gap: 5px;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,auto);

        div{
            grid-row: 1;
            grid-column: 1 / -1;
        }


        h1{
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        nav{
            grid-column: 1 / -1;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img{
            display: block;
            cursor: pointer;
            grid-row: 2 / 3;
        }

    }
    @media screen and (max-width: 600px) {
        h1{
            font-size: .7em;
        }
        padding: 15px;
    }
}