section#home{

    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;

    article{
        max-width: max-content;
        padding: 10px;
        border: 1px solid var(--color-secundary);
        border-radius: 8px;


        display: flex;
        flex-direction: column;
        gap: 15px;
        font-family: var(--font-title);

        h2{
            color: var(--color-primary);
        }
        button{
            height: 50px;
            font-size: 1em;
            color: white;
        }
        /* tablet */
        @media only screen and (max-width: 950px) and (min-width: 400px) {
            & h2{
                font-size: 1.2em;
            }
            
        }
    }
    img{
        width: 500px;
        /* tablet */
        @media only screen and (max-width: 1020px) {
            width: 300px;
        }
    }
    @media only screen and (max-width: 950px) {
        flex-direction: row-reverse;
    }
    @media only screen and (max-width: 692px) {
        flex-direction: column;
    }
}