section#portifolio{
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100dvh;
    }
    article{
        flex-basis: 400px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    h3{
        color: var(--color-primary);
    }
    span{
        transition: .3s;
        &:hover{
            color: var(--color-primary);
        }
    }
    div:nth-child(3){
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 820px) {
    section#portifolio{
        gap: 80px;
        img{
            width: 200px;
        }
        article{
            width: 300px;
        }
        div:is(:nth-child(3), :nth-child(even)){
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            gap: 50px;
        }
    }
}