#portifolio{
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
    }
}

.projeto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100dvh;
}

.projeto h3{
    color: var(--color-primary);
}

.projeto span{
    cursor: pointer;
    width: max-content;
    position: relative;
    &::before{
        transition: .3s;
        border-radius: 8px;
        position: absolute;
        content: " ";
        bottom: -3px;
        width: 0%;
        height: 3px;
        background-color: var(--color-primary); 
    }
    &:hover::before{
        width: 100%;
    }
}


.projeto article{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.projeto:nth-child(odd){
    flex-direction: row-reverse;
}

/* tablet */
@media screen and (max-width: 900px) {
    .projeto img{
        width: 250px;
    }
    .projeto{
        flex-direction: row-reverse;
        gap: 50px;
    }
    .projeto:nth-child(odd){
        flex-direction: row;
    }
}

/* celular em pé */
@media screen and (max-width: 600px) and (orientation: portrait) {
    #portifolio{
        gap: 100px;
    }
    .projeto{
        height: max-content;
    }
    .projeto:is(:nth-child(odd),:nth-child(even)){
        flex-direction: column-reverse;
    }
    .projeto img{
        width: 200px;
    }
    .projeto article{
        width: 250px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .projeto img{
        width: 150px;
    }
    .projeto h3{
        font-size: 1em;
    }
    .projeto p{
        font-size: .8em;
    }
    figure > figcaption{
        font-size: .8em;
    }
}