#portifolio{
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
    }
}

.projeto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100dvh;
}

.projeto h3{
    color: var(--color-primary);
}

.projeto article{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

.projeto:nth-child(odd){
    flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
    .projeto img{
        width: 250px;
    }
    .projeto{
        flex-direction: row-reverse;
        gap: 50px;
    }
    .projeto:nth-child(odd){
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    #portifolio{
        gap: 100px;
    }
    .projeto{
        height: max-content;
    }
    .projeto:is(:nth-child(odd),:nth-child(even)){
        flex-direction: column-reverse;
    }
    
}