section.sobre{
    height: 100dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width: 200px;
        height: 300px;
        transition: .3s;
        border-radius: 8px;
        box-shadow: 15px -15px 0px var(--color-primary);
        z-index: 0;
        &:hover{
            box-shadow: 0px 0px 0px var(--color-primary);
            transform: translateX(15px) translateY(-15px);
        }
    }
    article{
        padding: 8px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        p{
            font-family: var(--font-content);
            text-align: justify;
        }
        button{
            height: 50px;
        }
    }
    /* para tablet */
    @media only screen and (max-width: 900px) {
        height: max-content;
        flex-flow: row-reverse wrap;
        gap: 30px;
        article{
            max-width: 300px;
        }
        img{
            box-shadow: none;
            &:hover{
                transform: none;
            }
        }
    }
}