section.sobre{
    height: 100dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        border: 9px solid var(--color-primary);
        width: 200px;
        height: 300px;
        border-radius: 8px;
    }
    img{
        transition: .3s;
        border-radius: 8px;
        /* transform: translateX(-25px) translateY(-25px); */
        height: 100%;
        width: 100%;
        &:hover{
            border-radius: 0px;
            top: 0px;
            left: 0px;
        }
    }
    article{
        padding: 8px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        p{
            font-family: var(--font-content);
            text-align: justify;
        }
        button{
            height: 50px;
        }
    }
}